*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --pink: hsl(322, 100%, 66%);
    --palecyan: hsl(193, 100%, 96%);
    --darkcyan: hsl(192, 100%, 9%);
    --grayishblue: hsl(208, 11%, 55%);
}

h2, h3{
    font-family: 'Poppins', sans-serif;
}

p, button{
    font-family: 'Open Sans', sans-serif;
}

button{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

body{
    width: 100vh;
    max-width: 376px;

}

.background{
    background-color: var(--palecyan);
    background-image: url("images/bg-hero-mobile.svg");
    Display: flex;
    flex-direction:column;
    width:100%;
    padding: 3% 5%;
    color: var(--darkcyan);
    justify-content: center;
    margin-bottom: 40px;
}
.row1{
    display: flex;
    width: 100%;
    justify-content: center;
}
.left1{
    max-width: 35%;
    margin-right: auto;
    padding: 10px 0px;
}
right1{
    max-width: 35%;
    margin-left: auto;
}
.tryfree{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: white;
    color: var(--darkcyan);
}

.row2{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}
.left2, .right3, .right4, .right5, row6.h3{
    text-align: center;
}

.left2 h2, .left2 p, .right3 h3, .right3 p, .right4 h3, .right4 p, .right5 h3, .right5 p, .row6 h3, .left7b p, .left7c p, .left7d p, .right7 p, .mid7a p, .mid7b p{
    padding:10px 0px;
}
.left7b p, .left7c, .left7d p, .right7 p, .mid7a p, .mid7b p{
   width: 100%;
}

.mid7a, .mid7b{
    width: 100%;
    font-size: 18px;
}
.left2 p, .right3 p, .right4 p, .right5 p, .left7b p, .left7c p, .left7d p, .right7 p, .mid7a p, .mid7b p{
    font-size: 18px;
}

.left2b{
    width: 50%;
    justify-content: center;
    margin: auto;
    padding:10px 0px
}

.getstarted{
    width: 110%;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: var(--pink);
    color: white;

}
.right2, .left3, .left4, .left5{
    padding:10px 30px;
}

.section{
    Display: flex;
    width: 100%;
    max-width: 376px;
    justify-content: center;
}

.row3, .row4{
    Display: flex;
    flex-direction:column;
    width:90%;
    padding: 10px 5%;
    color: var(--darkcyan);
    justify-content: center;
    align-items: center;
    border: 2px solid lightgrey;
    margin-bottom: 50px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.row5{
Display: flex;
flex-direction:column;
width:90%;
padding: 10px 5%;
color: var(--darkcyan);
justify-content: center;
align-items: center;
border: 2px solid lightgrey;
margin-bottom: 20%;
border-radius: 20px;
margin-left: auto;
margin-right: auto;

}

.getstarted2{
    width: 50%;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: var(--pink);
    color: white;

}
/* create empty space beneath text for overlap area */

/* create overlap using - top margin and background color */
.row6{
    Display: flex;
    flex-direction:column;
    width:85%;
    padding: 10px 5%;
    color: var(--darkcyan);
    justify-content: center;
    align-items: center;
    border: 2px solid lightgrey;
    /* margin-bottom: 50px; */
    margin-top: -190%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    position:relative;
    z-index: 2;
}

/* create space on top of text for overlap area */
.left7a{
    margin-top: 30%;
    width: 100%;
}

.left7b, .left7c, .left7d{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.left7b img, .left7c img, .left7d img{
    padding-top: 15px;
    margin-right: 20px;
    border: 2px white;;
}

.row7{
    Display: flex;
    flex-direction:column;
    width:100%;
    padding: 10px 5%;
    color: white;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgrey;
    margin-top: 0%;
    /* margin-bottom: 50px; */
    margin-top: 0%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: var(--darkcyan);
}
.right7a{
    display: flex;
    width:100%;
    justify-content: center;
    flex-direction: row;
}
.right7a div{
    padding-right:20px;
}
@media screen and (max-width:1440px) and (min-width: 377px)
{
body{
        max-width: 1441px;
    }
.background
    {
        background-image: url("images\bg-hero-desktop.svg");
        width:100%;
    }
/* convert the columns from mobile view into rows or desktop view */
    .row2 
    {
        width: 100%;
        flex-flow: row nowrap;
        margin:0px;
    }
    .row4{
            width: 100%;
            flex-flow: row nowrap;
            margin-bottom:50px;
    }
    /* align the text halves for each row to the left */
    .left2
    {
        width:45%;
        text-align: left;
        margin-right: auto;
        /* border: 2px solid black; */
    }
    .right4{
        width:45%;
        text-align: left;
        
    }
    /* center the image halves for each row */
    .right2{
        width:45%;
        justify-content: left;
        /* border: 2px solid black; */
    }
    .left3{
        width:45%;
        justify-content: left;
    }
    .left4{
        width:45%;
        justify-content: left;
        margin-left: 0px;
        padding-left: 0px;
        margin-right: auto;
    }
    /* convert colums to rows and reverse order to match layout */
    .row3, .row5 {
        width: 100%;
        flex-flow: row-reverse;
    }

/* these are texts on the reversed rows */
.right3{
    width:45%;
    text-align: left;
    margin-right: auto;
}

.right5{
    width:45%;
    text-align: left;
    margin-right: auto;
    /* margin-bottom: 50px;     */
}
/* these are images on the reverse rows */
left3{
    width:50%;
    justify-content: left;
}

.left5{
    width:45%;
    justify-content: left;
    /* margin-bottom: 50px; */  
}
.row6{
    margin-top: -43%;
    position: relative;
    z-index: 2;
}
.row7{
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:0;
}

.left7 p{
    font-size:10px;
    margin-left: 0px;

}
.left7col1{
    width: 28%;
    display: flex;
    flex-direction:column;
    font-size: 10px;
    margin-top: 20px;
    /* margin-right: auto; */
}
.mid7a, .mid7b{
    width: 25%;
    display: flex;
    flex-direction:column;
    font-size: 10px;
    margin-left:20px;
    /* margin-right: auto; */
}

.mid7a p, .mid7b p{
    width:100px;
    font-size: 10px;
    margin-left: 0;
}


.right7a{
    width: 24%;
    display: flex;
    flex-direction:row;
    font-size: 10px;
    /* margin-right: auto; */
    justify-content: left;
    /* margin: 20px; */
}
.right7{
    width: 25%;
    align-items: bottom;
    display: flex;
    flex-direction: column;
    margin-top: 13%;
    margin-left: 0%;
}
.right7 p{
    margin-top: 100px;
    width: 150px;
    font-size: 8px;
}
}